{% comment %}
  Renders collection slider component

  Accepts:
  - items: {html} render items of slider
  - Title: {string} Slider title
  - Show_title: {boolean} Show/hide Title
  - items_count: {object} section.blocks.settings.size


  Usage:
  {% render 'slider'
    items: render_collection,
    title: Featured,
    show_title: true,
    items_count: 3
  %}
{% endcomment %}

<section
  class="splide"
  aria-label="{{ title }}"
  data-splide='{"arrows":false,"pagination":false,"type":"loop","perPage":{{ items_count | minus: 1 }},"padding":"0","perMove":1,"fixedWidth":"299px"}'
>
  {% if show_title %}
    <h2 id="carousel-heading">{{ title }}</h2>
  {% endif %}
  <div class="splide__track">
    <ul class="splide__list">
      {{ items }}
    </ul>
  </div>
</section>
