.hero-parallax {
  &__container {
    margin-bottom: 165px;
    .content {
      position: relative;
      padding-top: 12%;
      padding-left: 10%;
      z-index: 1;
    }
  }
  &__title {
    color: #ffffff;
    max-width: 830px;
    margin: 0;
    text-transform: uppercase;
    @include font($arsenal, 150px, 150px, 700);
  }
  &__subtitle {
    color: #ffffff;
    max-width: 334px;
    margin-bottom: 40px;
    @include font($jost, 19px, 30.4px, 400);
  }
  &__button {
    border-radius: 4px;
    color: #ffffff;
    height: 56px;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    @include font($jost, 16px, 23.12px, 700);
    &::after,
    &::before {
      box-shadow: none;
    }
  }
  &__image {
    bottom: 0;
    position: absolute;
    right: 15%;
  }
  &__hero-rrss {
    position: absolute;
    text-transform: uppercase;
    left: 0;
    top: 50%;
    z-index: 2;
    -webkit-transform: rotate(-90deg);
    -ff-transform: rotate(-90deg);
    transform: rotate(-90deg);
    @include font($arsenal, 14px, 18px, 400);
    a {
      text-decoration: none;
    }
  }
}
