.slider-ar {
  #carousel-heading {
    text-align: center;
    margin-bottom: 52px;
    @include font($arsenal, 36px, 45px, 400);
  }
  .splide__slide {
    h3 {
      text-transform: uppercase;
      padding-left: 10px;
      @include font($jost, 16px, 23px, 400);
    }
  }
}