<header class="page-width header-ar">
  <div class="header-ar__content">
    <div class="brand">
      <a href="{{shop.url}}" class="brand__logo">
        <img src="{{ section.settings.brand | image_url }}" alt="{{ shop.name }}" width="auto" height="auto"
      ></a>

      <div class="icons">
        {% render 'user-icon' %}

        {% render 'wishlists-icon' %}

        {% render 'cart-icon' %}
      </div>
    </div>
    <div class="burger_menu">
      <a href="{{shop.url}}">
        {% render 'burger_menu' %}
      </a>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "brand",
      "label": "Logo"
    }
  ]
}
{% endschema %}
